.about__achievements{
    margin-top: 6rem;

}
.about__achievements-right{
    margin-top: 5rem;
}

.about__achievements-container{
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 5rem;
}

.about__achievements p{
    margin: 1.6rem 0 2.5rem;
}

.achievements__cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2.5rem;
}
.achievement__card{
    background: red;
    padding: 1.6rem;
    border-radius: 1rem;
    text-align: center;
    gap: 2.5rem;
}

.achievement__card:hover{
    background: transparent;
    box-shadow: 0 3rem 3rem rgba(0,0,0);
}




